/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему


:root {
  --accent-color: #FF0070;
}*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: var(--deep-pink);
  --background-color: var(--midnight);
  --title-color: var(--fuchsia);
  --header__description-color: var(--midnight);
  --header__description-bgr-color: var(--deep-pink);
  --cover-background: url("/images/cover-image-dark.png");
  --section-header-color: var(--deep-pink);
  --article-header-color: var(--midnight);
  --article-header-bgrColor: var(--deep-pink);
  --article-text: var(--light-pink);
  --link-decoration-color: var(--deep-pink);
}