/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-color: var(--background-color);
}

.header,
.footer {
  width: 100%;
  height: max(100vh, 41.75rem);
  position: relative;
}

.header {
  background: var(--cover-background) no-repeat center / cover;
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.decorated-zone::before {
  content: '';
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  left: min(2.67vw, 1.25rem);
  bottom: min(2.67vw, 1.25rem);
  border-left: var(--decorated-zone__borders) var(--accent-color);
  border-bottom: var(--decorated-zone__borders) var(--accent-color);
}

.decorated-zone::after {
  content: '';
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  top: min(2.67vw, 1.25rem);
  right: min(2.67vw, 1.25rem);
  border-right: var(--decorated-zone__borders) var(--accent-color);
  border-top: var(--decorated-zone__borders) var(--accent-color);
}

.decoration__rec-sign::after {
  content: url(../images/rec.svg);
  position: absolute;
  top: min(2.67vw, 1.25rem);
  right: min(3.47vw, 1.44rem);
}

.header__theme-menu {
  padding-block-start: min(11.3vh, 12rem);
  padding-inline-end: min(2.67vw, 1.25rem);
}

.header__theme-menu-list {
  list-style: none;
  display: flex;
  gap: 13px;
  flex-direction: column;
  align-items: flex-end;
}

.text {
  font-family: var(--main-font);
  font-size: 1.125rem;
  line-height: 23.4px;
}

.header__theme-menu-button {
  cursor: pointer;
  text-align: center;
  text-transform: lowercase;
  font-weight: normal;
  background-color: transparent;
  border: none;
  padding: 0 13px;
  color: var(--accent-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover-color);
}

.header__theme-menu-button:focus-visible {
  outline: 0;
  border-bottom: 1px solid var(--accent-color);
}

.header__content-wrapper {
  display: flex;
  flex-direction: column;
  gap: min(8.23vh, 10rem);
  padding-block-start: min(10.1vh, 10.91rem);
  padding-inline-start: max(2.67vw, 0.63rem);
}

.title-colors {
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--deep-pink);
}

.header__page-heading {
  font-family: var(--main-font);
  font-size: clamp(7.25rem, 7.011rem + 1.02vw, 7.5rem);
  font-weight: 700;
  line-height: 82.5%;
  justify-self: center;
}

.header__description {
  color: var(--header__description-color);
  background-color: var(--header__description-bgr-color);
  font-weight: 700;
  margin-right: clamp(0.625rem, 0.029rem + 2.545vw, 1.25rem);
  inline-size: min(95vw, 22.75rem);
  align-self: flex-end;
}

/* Общие стили для секции. Отступы, в основном. */
.section { 
  display: grid;
  row-gap: 20px;
  column-gap: 11px;
  margin-block: min(10.67vw, 3.75rem) min(13.33vw, 5rem);
  margin-inline: min(2.67vw, 1.25rem);
}

.section.section__content-gallery {
  gap: min(2.67vw, 1.25rem);
  margin-block-end: min(10.67vw, 3.75rem);
}

.section__header {
  color: var(--section-header-color);
}

.section .section__article-header,
.section .section__article-header-secondary {
  color: var(--article-header-color);
  background-color: var(--article-header-bgrColor);
}

.section__article-header-secondary {
  font-weight: 400;
}

.section__article-text {
  color: var(--article-text);
  padding-block-start: 0.63rem;
}

.section__content-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__text {
  font-family: var(--main-font);
  font-size: clamp(7.25rem, 30.93vw, 7.5rem);
  font-weight: 700;
}

@media (min-width: 768px) {

  .header {
    height: max(100vh, 45rem);
  }

  .header__content-wrapper {
    gap: min(16vh, 11rem);
    padding-block-start: min(17vh, 10.91rem);
    padding-inline-start: 0;
  }
  
  .header__description {
    margin-right: 20px;
    inline-size: min(47.4vw, 30.7rem);
  }

  .header__page-heading {
    font-size: clamp(7.5rem, 0.535rem + 14.51vw, 9.813rem);
  }

  .header__theme-menu {
    padding-block-start: 18.71vh;
  }

  .section__content-reason,
  .section__content-solution {
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }

  .section__content-reason article {
    grid-column: 2;
  }

   .section__content-cause,
   .section__content-gallery {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }

  .section__content-cause article {
    grid-column: 1 / span 3;
  }

  .section__content-solution .section__header {
    grid-row: 1 / span 6;
  }

  .section__content-gallery {
    grid-template-rows: repeat(4, auto);
  }

  .section__content-gallery .section__article-header {
    grid-column: 1 / span 3;
    align-self: start;
  }

  .section__content-gallery .section__content-gallery-image:first-of-type,
  .section__content-gallery .section__content-gallery-image:last-of-type {
    grid-column: span 2;
  }

  .section__content-gallery .section__content-gallery-image:nth-of-type(2),
  .section__content-gallery .section__content-gallery-image:last-of-type  {
    grid-row: span 2;
  }

  .section__content-gallery .section__content-gallery-image:nth-of-type(3) {
    grid-row: span 3;
  }

  .footer__text {
    font-size: clamp(7.5rem, 15.63vw, 9.813rem);

  }
}

@media (min-width: 1024px) {

  .header__page-heading {
    font-size: max(15.33vw, 9.81rem);
  }

  .header__content-wrapper {
    padding-top: 17.2rem;
    gap: 14.84vh;
  }

  .header__description {
    inline-size: 47.9vw;
  }

  .header__theme-menu {
    padding-top: 1.34rem;
    padding-right: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
    justify-content: center;
    gap: 11px;
  }
  .section__content-cause article {
    grid-row: 2;
    grid-column: auto;
  }

  .footer__text {
    font-size: max(15.63vw, 9.813rem);
  }    
}